.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  flex-direction: column-reverse;
  row-gap: 1rem;

  @include for-tablet-landscape-up {
    flex-direction: row;
    width: 95%;
    &__images,
    &__detail {
      width: 44%;
    }
  }

  // ***** Images
  &__image-main {
    border-radius: 5%;
    overflow: hidden;
    margin-bottom: 1.5rem;

    & img {
      width: 100%;
      display: block;
    }
  }
  &__image-thumbs {
    display: flex;
    justify-content: space-between;

    &-container {
      width: calc(100% / 4 - 12px);
      border-radius: 15%;
      overflow: hidden;
      box-sizing: border-box;
      &.image-active {
        border: 2px solid $orange;
        & img {
          opacity: .4;
        }
      }
    }
    
    & img {
      display: block;
      width: 100%;
    }
  }

  // ***** Detail
  &__detail {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  // ***** Titles
  &__header {
    margin-bottom: 1rem;
    & h1,
    & h2 {
      font-weight: 700;
      line-height: 1.1;
    }
    & h1 {
      font-size: 2rem;
    }
    & h2 {
      font-size: .8rem;
      text-transform: uppercase;
      color: $orange;
      margin-bottom: .5rem;
    }
  }

  // ***** Resume
  &__resume {
    color: $gray;
    line-height: 1.2;
  }

  // ***** Price
  &__price {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    margin-top: .5rem;
    font-weight: 700;

    &-valid {
      font-size: 1.5rem;
      margin-right: .5rem;
    }
    &-reduce {
      padding: 3px 7px;
      background-color: $orange-pale;
      border-radius: 5px;
      color: $orange;
      font-size: .9rem;
    }
    &-old {
      display: block;
      color: $gray;
      text-decoration: line-through;
      
      @include for-phone-only {
        text-align: right;
        flex-grow: 1;
      }
      @include for-tablet-portrait-up {
        width: 100%;
      }
    }
  }

  // ***** Add to cart
  &__addtocart {
    display: flex;
    column-gap: .7rem;
    row-gap: .7rem;
    font-weight: 700;
    margin-top: 1rem;
    flex-wrap: wrap;

    &-quantity,
    &-btn {
      border-radius: .5rem;
      @include for-phone-only {
        width: 100%;
      }
    }
    &-quantity {
      background-color: lighten($lightgray,10%);
      text-align: center;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      padding: 1rem;
      
      &-btn, &-number {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-btn {
        user-select: none;

        &:hover {
          cursor: pointer;
          background-color: $orange-pale;
        }
      }
      &-number {
        min-width: 25px;
      }
      &-minus {
        border-radius: .5rem 0 0 .5rem;
        &.inactive {
          pointer-events:none;
          &:hover {
            cursor: initial;
            background-color: transparent;
          }
          &.inactive img {
            opacity: .5;
          }
        }
      }
      &-plus {
        border-radius: 0 .5rem .5rem 0;
      }
    }
    &-btn {
      flex-grow: 1;

      &:disabled {
        background-color: $lightgray;
        cursor: initial;
      }
    }
  }
}